body{
 background-color: rgb(233, 121, 56);
 font-family: 'Gayathri', sans-serif;

}
.wrapper{
 width: 80%;
 max-width: 1200px;
 margin: 0 auto;
}
h1{
 text-align:center;
 transform: translateY(50px);
}

.clock {
  width: 100%;
  height: 70vh;
  position: relative;
  background-image: url(../assets/Clock11.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50% 70%;

}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.hourHand {
  width: 6px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 48%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}
.minuteHand {
  width: 3.5px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 43%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(0deg);

  
}
.secondHand {
  width: 2px;
  height: 70px;
  background-color: white;
  position: absolute;
  top: 41%;
  left: 50.1%;
  transform-origin: 50% 100%;
 transform: rotate(0deg);

}
// number time

.current {
  color: white;
  font-size: 60px;
  text-align:center;
  
  
}
